#section1 div:first-child {
      background-image: url("as04/下載.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #section2 div:first-child {
      background-image: url("as04/下載 (1).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #section3 div:first-child {
      background-image: url("as04/下載 (2).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #section4 div:first-child {
      background-image: url("as04/下載 (3).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
