#section1 div:first-child {
      background-image: url("https://github.com/Kung0721/Kung0721.github.io/blob/main/as04/%E4%B8%8B%E8%BC%89.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #section2 div:first-child {
      background-image: url("https://github.com/Kung0721/Kung0721.github.io/blob/main/as04/%E4%B8%8B%E8%BC%89%20(1).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #section3 div:first-child {
      background-image: url("https://github.com/Kung0721/Kung0721.github.io/blob/main/as04/%E4%B8%8B%E8%BC%89%20(2).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #section4 div:first-child {
      background-image: url("https://github.com/Kung0721/Kung0721.github.io/blob/main/as04/%E4%B8%8B%E8%BC%89%20(3).png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
